
#ctl00_Main_ACOPLAGEMRAPIDA_PageControl_GERAL_GERAL{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#ctl00_Main_ACOPLAGEMRAPIDA_PageControl_GERAL_GERAL .row{
    width: 50%;
}


.contentButonsAcoplagem {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 300px
}

#top-CMD_Acoplagem2, #top-CMD_Acoplagem3, #top-CMD_Acoplagem4 {
    display : initial !important;
}