

#ContentPage {
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 65vh;
}

.desenho {
    flex: 1;
    margin: 2px;
    background-color: #e7e9e6;
}

.desenho canvas{
    display:block;
    width: 100%;
    height:100%;
}

.Pneus {
    flex: 0 0 300px; 
    margin: 2px;
    background-color: #d1d1d1;
}


.footer {
    height: 35vh;
    margin: 2px;
    display: flex;
    flex-direction: row;
    background-color: #e7e9e6;
}

.buscaPneus {
    margin-top: 5px;
    width: 33.3%;
    height: 100%;
    background-color: #d1d1d1;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

.btnBuscaPneus {
    cursor: pointer;
    background-color: bisque;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

#headModal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px 0 30px;
    align-items: center;
}

.headDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.headPneusEstoque {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

.ContainerConfirm {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.bodyTable {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    align-items: center;
}

.bodyDiv {
    display: inline-grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 16px;
}

.CanvasPneus{
    height: 100%;
    width: 100%;
}

.ContainerPneu {
    position: relative;
    width: 30%;
    height: 23px;
    margin-bottom: 10px;
}

.TextoDivPneu {
    width:110px;
    position : absolute;
    bottom : 0;
    left : 0;
    right : 0;
    color : white;
    font-size : 11px;
    font-weight : bold;
    display:flex;
    justify-content:center;
}

#ModalErro {
    background-color: #d1d1d1;
    position: absolute;
    display: none;
    left: 16%;
    top: 6%;
    padding: 5px 5px 5px 5px;
    border-radius: 10px !important;
    max-width: 650px;
}

#modalContentErro {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    max-width: 100%;
}

#HeadErro{
    height:30%;
}

#ContentErro {
    height: 70%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
}

#mensagemErro {
    margin-top: 10px;
    color: #ff0000; /* Cor do texto de erro */
    font-size: 15px;
}

#titleErro{
    font-size: 17px;
}


#ModalConfirmar {
    display: none;
    justify-content: center;
    align-items: center;
}

#modalContentConfirmar {
    height: 90%;
    width: 60%;
    background-color: white;
    padding: 10px;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
    overflow: auto;
}

#ContentConfirmar {
    height: 80%;
    max-height: 80%;
    display: block;
    flex-direction: column;
}

#HeadConfirmar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ContainerCloseModalConfirmar {
    display: flex;
    justify-content: flex-end;
}
#closeModalConfirmar, #btnGravarMovimentacoes {
    width: 100px;
    cursor: pointer;
}

#btnGravarMovimentacoes{
   margin-right: 5px;
}

#HeadConfirmar{
    font-size:25px;
}


th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#tablePneus {
    font-size: 13px;
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons that are used to open the tab content */
    .tab div {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab div:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab div.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontentFrotas {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#PneusMovimentados {
    border-collapse: collapse;
    overflow: auto; /* Adiciona a barra de rolagem */
    max-height: 50px;
}


.FormDestino {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#ObservacoesBaixa {
    resize: none;
    width: 100%;
}

#PneuNaoEncontrado{
    display: none;
}

#TablePneusMovimentados{
    margin-top: 30px;
    width: 100%;
    overflow: auto;
    margin-bottom: 10px;
}

#PneusEstoque {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 16px;
}


#modalContentValidaMovimento{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    width: 50%;
    height: 50%;
    border-radius: 5px !important;
    padding: 10px;
}


#modalContentMovimentoEstoque {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    width: 40%;
    height: 45%;
    border-radius: 5px !important;
    padding: 10px;
}

#ModalValidaMovimentoPneu, #ModalPneuEstoque {
    display: none;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}



#botoesValidaMovimento, #botoesMovimentoEstoque {
    display: flex;
    justify-content: center;
}

#btnConfirmaMoverPneu{
    margin-right: 20px;
}

.tablinksFrotas{
    cursor:default;
}

.movimentoPneu {
    cursor: pointer;
    transition: 0.3s;
}

    .movimentoPneu:hover {
        background-color: #ddd;
    }


.tabcontentFrotas {
    flex-direction: column;
}

.fieldRequired{
    color: red;
}

.mensagemCampoRequired{
    font-size: 13px;
    color: red;
    margin-top: 5px;
    display: none;
}
