<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
      <section name="amplifiqueMeDefinitions" type="Benner.Corporativo.Comum.Configuration.Sections.AmplifiqueMeDefinitions.Models.AmplifiqueMeDefinitionsSection, Benner.Corporativo.Comum" />
  </configSections>
  
  <amplifiqueMeDefinitions forceNps="false">
	<surveys>
		<add pageUrl="~/aga/a/contratos/ContratoCompraForm.aspx" surveyId="62226792e10e901197c43777" />
		<add pageUrl="~/aga/a/contratos/ContratoFaturamentoForm.aspx" surveyId="62226792e10e901197c43777" />
		<add pageUrl="~/aga/a/contratos/ContratoConvenioForm.aspx" surveyId="62226792e10e901197c43777" />
		<add pageUrl="~/aga/a/contratos/ContratosPermutaForm.aspx" surveyId="62226792e10e901197c43777" />
        <add pageUrl="~/aga/e/materiais/recebimentos/RecebimentoFiscal/RecebimentoFiscalForm.aspx" surveyId="62226afde10e901197c4596a" />
		<add pageUrl="~/aga/e/tributos/Apuracoes/apuracaoImpostos.aspx" surveyId="62226dd1e10e901197c4775f" />
        <add pageUrl="~/aga/a/financeiro/Officebanking/Bloquetos.aspx" surveyId="62226ca0e10e901197c46a22" />
        <add pageUrl="~/aga/e/comercial/faturamento/ConsultaFaturamento.aspx" surveyId="62210a683449c6ec7159c80b" />	
		<add pageUrl="~/aga/e/tributos/Apuracoes/ApuracaoPC.aspx" surveyId="64e37067a65b30781a701ad2" />
		<add pageUrl="~/aga/a/contabil/consultas/filtroconsultas.aspx" surveyId="64dd3007fd3cedc601d691b4" />
		<add pageUrl="~/aga/e/Contabil/consultas/balancete.aspx" surveyId="64dd3007fd3cedc601d691b4" />
	</surveys>
  </amplifiqueMeDefinitions>
</configuration>