<?xml version="1.0" encoding="utf-8" ?>
<config>
  <viewCommands>
    <!--
      Os comandos das visões abaixo serão incluídos na pesquisa, 
      só serão exibidos os comando que o papel ativo do usuário tiver acesso,
      abaixo um exemplo de visão configurada:

    <view name="PAISES.GRID"></view>
    -->
  </viewCommands>

  <entities>
    <!--
      Entidades que serão adicionadas no engenho de pesquisa, 
      só serão exibidas as entidades que o papel ativo do usuário tiver acesso,
      abaixo uma documentação de cada atributo da tag entity:
    
      group: Título do agrupador que será exibido na pesquisa
      fonticon: Ícone que será mostrado em cada item de resultado da pesquisa
      name: Nome da entidade (tabela)
      formurl: Url da página de formulário da entidade, quando o usuário clicar no item será redirecionado para essa página, é possível utilizar @CAMPO(HANDLE) na url caso precise passar um valor de um campo na querystring
      resultfields: Campos de resultados que serão exibidos nos itens de resultado da pesquisa
      criteria: Se nessário é possível criar um filtro para os registros que serão pesquisados no engenho
      developer: Caso seja true a entidade só será exibida em ambiente de desenvolvimento
    -->
    <entity group="Relatórios" fonticon="fa fa-print" name="R_RELATORIOS" formurl="~/SiteSettings/EditWebReportPage.aspx">
      <!--
        E possível adicionar comandos de registro de visões,
        só serão exibidos os comandos que o papel ativo do usuário tiver acesso,
        abaixo uma documentação de cada atributo da command:
        
        viewname: Nome da visão onde o comando está
        commandname: Nome do comando que deve ser exibido, as configurações de cor e fonticon serão utilizadas da visão
        default: Quando o usuário clicar no link do item será executado diretamente o comando com default=true desconsiderando o atributo formurl da tag entity
      -->
      <command viewname="R_RELATORIOS.TEC.FORM" commandname="CMD_EMITIR" default="true" />
    </entity>

    <!--
      Caracteres especiais de escape
      Por exemplo quando houver uma condição menor (<) ou maior (>) é necessário usar caracteres de escape na string de critério
      
      Segue lista de alguns caracteres: (caracter | code)
           < | &#60;
           > | &#62;
           & | &#38;
    -->
    <entity group="Visões" fonticon="fa fa-eye" name="W_ENTIDADEVISOES" resultfields="NOME, CAMADA" criteria="A.CAMADA NOT IN (-1)" formurl="~/SiteSettings/View.aspx?key=@CAMPO(HANDLE)" developer="true"/>
    <!-- Corporativo Web (aga) -->
	<entity group="Bancos" fonticon="fa fa-money" name="GN_BANCOS" resultfields="NOME" formurl="~/aga/a/f/aga_t738_at680_hs855b114b.aspx" developer="false">
      <command viewname="AGA_GN_BANCOS.FORM" commandname="CMD_PARAMETROSHOMEBANKING" default="false" />
    </entity>
    <entity group="Pessoas" fonticon="fa fa-user" name="GN_PESSOAS" resultfields="CGCCPF, NOME" formurl="~/aga/a/f/aga_t717_at1437_hs6f69d1bc.aspx" developer="false" />
    <entity group="Contas a receber" fonticon="fa fa-file-text" name="FN_DOCUMENTOS" resultfields="DOCUMENTODIGITADO, PESSOA" criteria="A.ABRANGENCIA IN ('N','T') AND A.ENTRADASAIDA IN ('S','O')" formurl="~/aga/e/financeiro/zoomdedocumentos/Form.aspx" developer="false"/>
    <entity group="Contas a pagar" fonticon="fa fa-file-text" name="FN_DOCUMENTOS" resultfields="DOCUMENTODIGITADO, PESSOA" criteria="A.ABRANGENCIA IN ('N','T') AND A.ENTRADASAIDA IN ('E','I')" formurl="~/aga/e/financeiro/zoomdedocumentos/Form.aspx" developer="false"/>
    <entity group="Parcelas" fonticon="fa fa-file-text" name="FN_PARCELAS" resultfields="AP, DOCUMENTO" formurl="~/aga/e/financeiro/zoomdeparcelas/Form.aspx?" developer="false">
      <command viewname="FN_PARCELAS.ZOOMDEPARCELAS.FORM" commandname="CMD_GERAROCORRENCIA" default="false" />
    </entity>
    <entity group="Contratos de compra" fonticon="fa fa-file-text" name="CN_CONTRATOS" resultfields="NUMERO, PESSOA" criteria="A.TIPOCONTRATO IN (SELECT HANDLE FROM CN_TIPOSCONTRATOS WHERE TIPO = 1)" formurl="~/aga/a/contratos/ContratoCompraForm.aspx" developer="false" />
    <entity group="Contratos de faturamento" fonticon="fa fa-file-text" name="CN_CONTRATOS" resultfields="NUMERO, PESSOA" criteria="A.TIPOCONTRATO IN (SELECT HANDLE FROM CN_TIPOSCONTRATOS WHERE TIPO = 2)" formurl="~/aga/a/contratos/ContratoFaturamentoForm.aspx" />
    <entity group="Contratos de convênio" fonticon="fa fa-file-text" name="CN_CONTRATOS" resultfields="NUMERO, PESSOA" criteria="A.TIPOCONTRATO IN (SELECT HANDLE FROM CN_TIPOSCONTRATOS WHERE TIPO = 3)" formurl="~/aga/a/contratos/ContratoConvenioForm.aspx" />
    <entity group="Lançamentos contábeis" fonticon="fa fa-file-text" name="CT_LANCAMENTOS" resultfields="COMPETENCIA,COMPLEMENTO,CONTA,DOCUMENTOCONTABIL,VALOR" formurl="~/aga/a/contabil/lancamentos/LancamentosContabeis.aspx" developer="false" />
    <entity group="Bens do imobilizado" fonticon="fa fa-archive" name="AT_ITENS" resultfields="CODIGOREDUZIDO,NOME,VALOR" formurl="~/aga/a/f/aga_t1255_at966_hs7ca0d4fc.aspx" developer="false">
      <command viewname="AGA_AT_ITENS.FORM" commandname="CMD_CALCULOSDEPRECIACAO" default="false" />
      <command viewname="AGA_AT_ITENS.FORM" commandname="CMD_MOVIMENTACOES" default="false" />
      <command viewname="AGA_AT_ITENS.FORM" commandname="CMD_RECUPIMPOSTOS" default="false" />
    </entity>
    
    <!-- Portal de Fornecedores -->
    <entity group="Contas a pagar" fonticon="fa fa-file-text" name="FN_DOCUMENTOS" resultfields="DOCUMENTODIGITADO, PESSOA" criteria="A.ABRANGENCIA IN ('N','T') AND A.ENTRADASAIDA IN ('E','I')" formurl="~/PortalFornecedores/e/Financeiro/Documentos.aspx" developer="false"/>
    <entity group="Ordens de compra" fonticon="fa fa-file-text" name="CP_ORDENSCOMPRA" resultFieds="NUMERO" criteria="A.STATUS IN(2,3,4,5) AND A.FORNECEDOR IN (SELECT PESSOA FROM Z_GRUPOUSUARIOS WHERE HANDLE = @USUARIO)" formurl="~/PortalFornecedores/e/OrdemCompra/OrdemCompra.aspx" developer="false" />
    <entity group="Cotações" fonticon="fa fa-file-text" name="CP_WEB_COTACOES" resultFieds="NUMERO" criteria="A.FORNECEDOR IN (SELECT PESSOA FROM Z_GRUPOUSUARIOS WHERE HANDLE = @USUARIO)" formurl="~/PortalFornecedores/e/Cotacoes/Cotacao.aspx" developer="false" />
    <entity group="Publicações" fonticon="fa fa-file-text" name="GN_PUBLICACAOARQUIVOSWEB" resultFields="DESCRICAO" formurl="~/PortalFornecedores/e/Cadastros/ArquivosPublicados.aspx" criteria="(A.FORNECEDORES = 'S') AND (A.DISPONIVELEM &#60;= @HOJE) AND (A.EXIBIRATE IS NULL OR A.EXIBIRATE &#62;= @HOJE) AND (((SELECT COUNT(FORN.HANDLE) FROM GN_PUBLICACAOARQUIVOFORNECEDOR FORN WHERE FORN.ARQUIVO = A.HANDLE) = 0) OR ((SELECT COUNT(FORN.HANDLE) FROM GN_PUBLICACAOARQUIVOFORNECEDOR FORN WHERE FORN.ARQUIVO = A.HANDLE AND FORN.FORNECEDOR = (SELECT USU.PESSOA FROM Z_GRUPOUSUARIOS USU WHERE @USUARIO = USU.HANDLE)) &#62; 0))" developer="false" />

	  <!-- SPED - REINF -->
	  <entity group="Reinf - Notas fiscais (R-2010)" fonticon="fa fa-barcode" name="REINF_DETALHENOTAFISCAL" criteria="A.R2010 IS NOT NULL" resultfields="NUMDOCTO, SERIE, VLRBRUTO" formurl="~/PortalReinf/a/Registros/Cadastro/DetalheNotaFiscal.aspx" developer="false">
		  <command viewname="REINF_DETALHENOTAFISCAL.FORM" commandname="CMD_2010" default="false" />
	  </entity>
	  <entity group="Reinf - Notas fiscais (R-2020)" fonticon="fa fa-barcode" name="REINF_DETALHENOTAFISCAL" criteria="A.R2020 IS NOT NULL" resultfields="NUMDOCTO, SERIE, VLRBRUTO" formurl="~/PortalReinf/a/Registros/Cadastro/DetalheNotaFiscal.aspx" developer="false">
		  <command viewname="REINF_DETALHENOTAFISCAL.FORM" commandname="CMD_2020" default="false" />
	  </entity>
	  <entity group="Reinf - Associação desportiva (R-2030)" fonticon="fa fa-exchange" name="REINF_RECURSOSESPORTE" criteria="A.R2030 IS NOT NULL" resultfields="CNPJORIGRECURSO, VLRTOTALREC" formurl="~/PortalReinf/a/Registros/RecursosEsporteRepassado.aspx" developer="false">
		  <command viewname="REINF_RECURSOSESPORTE_REPASSADOS.FORM" commandname="CMD_2030" default="false" />
	  </entity>
	  <entity group="Reinf - Associação desportiva (R-2040)" fonticon="fa fa-exchange" name="REINF_RECURSOSESPORTE" criteria="A.R2040 IS NOT NULL" resultfields="CNPJORIGRECURSO, VLRTOTALREC" formurl="~/PortalReinf/a/Registros/RecursosEsporteRepassado.aspx" developer="false">
		  <command viewname="REINF_RECURSOSESPORTE_REPASSADOS.FORM" commandname="CMD_2040" default="false" />
	  </entity>
	  
	  <!-- Ordens de venda -->
	  <entity group="Ordens de venda" fonticon="fa fa-newspaper-o" name="CM_ORDENSVENDA" resultfields="NUMEROOV, DOCUMENTODIGITADO" formurl="~/aga/a/comercial/OrdensVenda/OrdemVenda.aspx" developer="false"/>
	  <entity group="Documentos de faturamento" fonticon="fa fa-file" name="FN_DOCUMENTOS" resultfields="DOCUMENTODIGITADO, NRNOTAFISCAL, STATUS, DATAEMISSAO" criteria="A.ABRANGENCIA = 'A'" formurl="~/aga/e/comercial/faturamento/FormFaturamento.aspx" developer="false"/>
	  
	  <!-- Clientes -->
	  <entity group="Consulta de clientes" fonticon="fa fa-users" name="GN_PESSOAS" resultfields="NOME, CGCCPF" formurl="~/aga/a/adm/Pessoas/Cliente.aspx" criteria="A.EHCLIENTE = 'S' OR A.EHCLIENTEDIVERSOS = 'S'" developer="false">
		  <!-- Consulta de documentos -->
		  <command viewname="GN_PESSOAS.CONSULTADOCS.FORM" commandname="CMD_CONSULTADOC_CLI" default="false" />
		  <!-- Inserir ocorrência -->
		  <command viewname="GN_PESSOAS.ACOMPANHAMENTOCLIENTE.FORM" commandname="CMD_OCORRENCIAS" default="false" />
	  </entity>
	  
	  <!-- Fornecedores -->
	  <entity group="Consulta de fornecedores" fonticon="fa fa-users" name="GN_PESSOAS" resultfields="NOME, CGCCPF" formurl="~/aga/a/genericos/pessoasfornecedores.aspx" criteria="A.EHFORNECEDOR = 'S'" developer="false">
	      <!-- Consulta de documentos -->
		  <command viewname="GN_PESSOAS.CONSULTADOCS.FORM" commandname="CMD_CONSULTADOC_FORN" default="false" /> 
	  </entity>

  </entities>
</config>