@helper IconMetronicBoolean(string booleanField, dynamic model)
{
    if (model[booleanField].GetBoolean())
    {
        <span style="padding-left:30px" aria-hidden="true" class="icon-check font-green"></span>
    }
    else
    {
        <span style="padding-left:30px" aria-hidden="true" class="icon-close font-red"></span>
    }
}