@helper LabelValueHelper(string labelName, string labelValue)
{
    <div class="form-group">
        <label class="control-label name column-nowrap">
            <div class="label-form">
                <div class="label-title">
                    @labelName
                </div>
            </div>
        </label>
        <span class=" value valueSecundario">@labelValue</span>
    </div>
}

@helper LabelValueHelperValores(string classe, string labelName, string labelValue)
{
    <div class="col-lg-12">
        <span class="badge badge-roundless col-md-12 @classe">
            <p class="col-md-4 label-tesouraria-situation">@labelName</p>
            <p class="col-md-8 label-tesouraria-value ">@labelValue</p>
        </span>
    </div>
}
