.colMaxLength{
    width: 4.5cm;
    min-width: 4.5cm;
}

.colNomeCFOPLength{
    width: 7cm;
    min-width: 7cm;
}

.colMinLength{
    min-width: 1cm;
}

.portlet {
    margin-bottom: 0px !important;
}

.filter-search-control>.input-group.select2-bootstrap-append>.select2.select2-container.select2-container--bootstrap {
    width: 350px;
}

.filter-column-value {
    width: 400px;
}

.linhaTotais td {
    background-color: #E8E8E8;
}

.linhaSubTotais td {
    background-color: #E8E8E8;
    font-weight: normal;
    padding: 8px;
}

.linhaTotais td:nth-child(n+2) {
    font-size: 15px;
    padding: 8px;
}

.linhaTotais td:nth-child(1) {
    padding: 8px;
}

.btnExibeDetalhes {
    color:#4B77BE; 
    cursor:pointer;
    vertical-align: middle;
    margin-right: 10px;
    background-color: white;
}

.btnExibeDetalhesTotais {
    color: #4B77BE;
    cursor: pointer;
    vertical-align: middle;
    background-color: white;
}

.textIndentTotais{
    text-indent: 20%;
}

.textIndentSubTotais {
    text-indent: 32%;
}

#tableResultadoICMS_ExportToExcel {
    right: -30px;
}

.detalhes {
    font-style: italic;
}

.table > tfoot > tr > td {
    padding: 8px;
}

.column-numeric {
    mso-number-format: "#,##0.00"
}

#breadcrumbUpdatePanel{
    display: none;
}

.wizard-prior {
    margin-right: 5px;
}