@import url("../../content/assets/css/themes/default.min.css");

.page-header.navbar .page-logo .logo-default {
    background-image: url(../../content/img/logo-benner-branca-erp.png);
    width: 185px;
}

#menu-do-desenvolvedor:hover>.dropdown-toggle, #menu-do-desenvolvedor>.dropdown-toggle:hover{
    background: #F1F2F7!important;
}

.page-sidebar .page-sidebar-menu .sub-menu > li > a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a{
    background-color: #1E1E2D !important;
}

.page-sidebar .page-sidebar-menu > li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a{
    border: none;
}

.page-sidebar .page-sidebar-menu > li > ul > li > ul > li > a,
.page-sidebar .page-sidebar-menu > li > ul > li > ul > li > ul > li > a{
    display: flex!important;
}

.page-sidebar .page-sidebar-menu .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a{
    background: #1a1a27 !important;
    color: var(--white) !important;
}

@media (max-width: 991px){
    .page-sidebar .page-sidebar-menu .sidebar-search input, .page-sidebar .page-sidebar-menu > li .sub-menu {
        background-color: #1E1E2D !important;
    }

    #searcher > a:hover, 
    #header_task_bar > a:hover, 
    #header_inbox_bar > a:hover, 
    #helpDocumentation > a:hover,
    .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle,
    .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle:hover{
        background: #21212e !important;
    }

    
}


.page-header.navbar {
    background-color: var(--white);
}

/*labels de status*/
.label-status-default {
    color: #ffffff;
    background-color: #36C6D3;
}

.label-status-success {
    color: #ffffff;
    background-color: #26C281;
}

.label-status-canceled {
    color: #ffffff;
    background-color: #BAC3D0;
}

.label-status-pending {
    color: #ffffff;
    background-color: #F1C40F;
}

.label-status-error {
    color: #ffffff;
    background-color: #ED6B75;
}

.label-status-general-1 {
    color: #ffffff;
    background-color: #67809F;
}

.label-status-general-2 {
    color: #ffffff;
    background-color: #3699FF;
}

.label-status-general-3 {
    color: #ffffff;
    background-color: #406196;
}
/* final dos labels de status*/

.dropdown-menu-list.user-roles{
    max-height: 60vh;
    overflow: scroll !important;
}

li > .slimScrollDiv {
    max-height: 60vh !important;
}

li > .slimScrollDiv > .dropdown-menu-list.user-roles{
    overflow: hidden!important;
}