.fc-scroller {
  overflow-y: auto;
  overflow-x: hidden;
}
.fc-month-view .fc-scroller {
  height: auto !important;
}
.portlet .event-form-title {
  font-size: 16px;
  margin-top: 4px;
  font-weight: 400;
  margin-bottom: 10px;
}
.portlet.calendar .fc-button {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
  border: 0 #ddd;
  height: 35px;
  padding: 5px 8px 8px;
  margin-left: 2px;
  background: 0 0;
  color: #fff;
  top: -48px;
  outline: 0 !important;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  border-style: none solid;
}
.portlet.calendar .fc-toolbar {
  margin-bottom: 0;
}
.portlet.calendar .fc-toolbar h2 {
  margin-top: 3px;
  font-size: 17px;
}
.portlet.calendar .fc-button .fc-icon-left-single-arrow,
.portlet.calendar .fc-button .fc-icon-right-single-arrow {
  font-family: FontAwesome;
  font-size: 16px;
  display: inline-block;
}
.portlet.calendar .fc-header {
  margin-bottom: -21px;
}
.portlet.calendar .fc-button-prev {
  padding-right: 10px;
  padding-left: 8px;
}
.portlet.calendar .fc-button-next {
  padding-right: 8px;
  padding-left: 10px;
}
.portlet.calendar .fc-button .fc-icon {
  height: 20px;
  top: -5px;
}
.portlet.calendar .fc-button.fc-state-active,
.portlet.calendar .fc-button.fc-state-hover {
  color: #666;
  background-color: #fff;
}
.portlet.calendar .fc-button.fc-state-disabled {
  color: #ddd;
}
.portlet.calendar .fc-button .fc-icon-left-single-arrow:after {
  content: "";
  margin: 0;
}
.portlet.calendar .fc-button .fc-icon-left-single-arrow:before {
  content: "\f104";
}
.portlet.calendar .fc-button .fc-icon-right-single-arrow:after {
  margin: 0;
  content: "";
}
.portlet.calendar .fc-button .fc-icon-right-single-arrow:before {
  content: "\f105";
}
.portlet.calendar .fc-text-arrow {
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  vertical-align: baseline;
}
.portlet.calendar .fc-event {
  border: 0;
  background-color: #69a4e0;
  color: #fff;
}
.portlet.calendar .fc-event .fc-content {
  border: 0;
  padding: 5px 7px;
}
.fc-event .fc-content {
  border: 0;
  padding: 5px 7px;
}
.portlet.calendar .fc-event .fc-time {
  float: left;
  text-align: left;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding-right: 5px;
}
.portlet.calendar .fc-event .fc-title {
  text-align: left;
  float: left;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.portlet.calendar .fc-header-title h2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #111;
}
.portlet.calendar .fc-widget-header {
  background-image: none;
  filter: none;
  background-color: #eee;
  text-transform: uppercase;
  font-weight: 300;
}
.portlet.calendar.light .fc-button {
  top: -60px;
  color: #666;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 35px;
}
.portlet.calendar.light .fc-button .fc-text-arrow {
  margin-top: -6px;
  display: inline-block;
}
.portlet.calendar.light .fc-button.fc-state-active,
.portlet.calendar.light .fc-button.fc-state-hover {
  color: #333;
  border-bottom: 2px solid #36c6d3;
}
.portlet.calendar.light .fc-button.fc-state-disabled {
  color: #aaa;
}
.portlet.calendar .mobile .fc-button {
  padding: 0 6px 20px;
  margin-left: 2px;
  border: 0;
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #000;
  text-shadow: none;
  text-align: center;
}
.portlet.calendar .mobile .fc-button.fc-state-active,
.portlet.calendar .mobile .fc-button.fc-state-hover {
  background-color: #eee;
}
.portlet.calendar .mobile .fc-button.fc-state-disabled {
  color: #bbb;
}
.portlet.calendar .mobile .fc-button-prev {
  margin-right: 5px;
  margin-top: -2px;
}
.portlet.calendar .mobile .fc-button-next {
  margin-right: 0;
  margin-top: -2px;
}
.portlet.calendar .mobile .fc-header-space {
  margin: 0;
  padding: 0;
  width: 0;
}
.portlet.calendar .mobile .fc-header-left {
  position: absolute;
  z-index: 10;
}
.portlet.calendar .mobile .fc-header-left .fc-button {
  top: -2px;
}
.portlet.calendar .mobile .fc-header-right {
  position: relative;
  right: 0;
}
.portlet.calendar .mobile .fc-header-right .fc-button {
  top: 35px;
}
.portlet.calendar .mobile .fc-content {
  margin-top: 53px;
}
