<?xml version="1.0" encoding="utf-8" ?>

<!--IMPORTANTE
ESSE AQUIVO DEVE SER DEIXADO NA PASTA NonAuthenticatedServiceHost DEVIDO A PROBLEMAS COM O BINDING GZIP, 
POIS A FACTORY DA TECNOLOGIA NAO SUPORTA TAL FORMATO E OCORRIA ERRO NOS SERVIÇOS DE FinanceiroService E FinanceiroService -->

<configuration>

  <system.serviceModel>

    <!-- Adição do binding GZip -->
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="Microsoft.ServiceModel.Samples.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>      
      </extensions>

    <!-- Configuração do binding -->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicBinding"
               hostNameComparisonMode="StrongWildcard"
               receiveTimeout="00:10:00"
               sendTimeout="00:10:00"
               openTimeout="00:10:00"
               closeTimeout="00:10:00"
               maxReceivedMessageSize="65536"
               maxBufferSize="65536"
               maxBufferPoolSize="524288"
               transferMode="Buffered"
               messageEncoding="Text"
               textEncoding="utf-8"
               bypassProxyOnLocal="false"
               useDefaultWebProxy="true" >
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="BufferedHttpSampleServer">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" />
          <httpTransport hostNameComparisonMode="StrongWildcard"
                         manualAddressing="False"
                         maxReceivedMessageSize="2147483647"
                         authenticationScheme="Anonymous"
                         bypassProxyOnLocal="False"
                         realm=""
                         useDefaultWebProxy="True" />
        </binding>
      </customBinding>
    </bindings>

    <services>

      <!-- Definição do serviço financeiro -->
      <service name="Benner.Corporativo.WebServices.FinanceiroService" behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding="customBinding"
                  bindingConfiguration="BufferedHttpSampleServer"
                  bindingName="BufferedHttpSampleServer"
                  contract="Benner.Corporativo.WebServices.IFinanceiroService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!-- Definição do serviço de faturamento -->
      <service name="Benner.Corporativo.WebServices.FaturamentoService" behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding="customBinding"
                  bindingConfiguration="BufferedHttpSampleServer"
                  bindingName="BufferedHttpSampleServer"
                  contract="Benner.Corporativo.WebServices.IFaturamentoService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <!-- Definição do serviço consulta sql -->
      <!--<service name="Benner.Corporativo.WebServices.Generico.ConsultaSQLService" behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicBinding"
		  behaviorConfiguration="flatWsdlFileEndpointBehavior"
                  contract="Benner.Corporativo.WebServices.Generico.IConsultaSQLService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>-->

      <!-- Definição do serviço contador nota fiscal-->
      <!--<service name="Benner.Corporativo.WebServices.ContadorNotaFiscalService" behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicBinding"
		  behaviorConfiguration="flatWsdlFileEndpointBehavior"
                  contract="Benner.Corporativo.WebServices.IContadorNotaFiscalService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>-->

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      
      <!--retirado devido a problemas de compilação-->
      <!--<endpointBehaviors>
        <behavior name="flatWsdlFileEndpointBehavior">
          <wsdlExtensions location="http://MEUSERVIDOR.GO/WebApp/NonAuthenticatedServiceHost/ContadorNotaFiscal.svc" singleFile="true" />
        </behavior>
      </endpointBehaviors>-->
      
    </behaviors>
  </system.serviceModel>

</configuration>
