

@if(Model["TITULOSOCORRENCIAS"].GetInt32() != null){
    if(Model["TITULOSOCORRENCIAS"].GetInt32() == 1){
        <span class="badge badge-primary badge-roundless col-md-12">
            Título
        </span>   
    }
    if(Model["TITULOSOCORRENCIAS"].GetInt32() == 2){
        <span class="badge badge-warning badge-roundless col-md-12">
            Ocorrência
        </span>   
    }
} else {
    <span class="badge badge-danger badge-roundless col-md-12">
        Nulo
    </span>   
}