/* Customizações para páginas AGA*/

.aga-a-active {
    color: #4db3a2 !important;
    text-transform: uppercase !important;
    font-weight: bold !important;
}

.aga-tabs {
    margin-top: 15px;
}

:not(.form-actions) > .btn+.btn{
    margin-left:5px;
}

.quick-nav-overlay {z-index: 10047;}

.quick-nav{z-index: 10048;}