.dash-filter-form > .form-body {
    padding: 10px;
}

div.dash-footer {
    margin-top: 15px;
}

.aga-dash-panel > .portlet > .portlet-title > .caption > .caption-subject > i {
    margin-right: 5px;
}


/* Gráficos */
.dash-pie-placeholder, .dash-bars-placeholder {
    width: 100%;
    height: 350px;
    font-size: 11px;
}

/* Grid */
.dash-grid-placeholder {
    min-height: 350px;
}

/* Tiles */
.dash-tiles-placeholder .dashboard-stat[data-detailkey] {
    margin-bottom: 10px;
}

/* Icones*/
.portlet > .portlet-title > .tools > a.aga-reload {
    background-image: url(../../assets/global/img/portlet-reload-icon.png);
    width: 13px;
}

.portlet > .portlet-title > .tools > .aga-fullwidth {
    background-image: url(../../assets/global/img/portlet-full-width-icon.png);
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    width: 13px;
}

.portlet > .portlet-title > .tools > .aga-halfwidth {
    background-image: url(../../assets/global/img/portlet-half-width-icon.png);
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    width: 13px;
}

.portlet > .portlet-title > .tools > .aga-remove {
    background-image: url(../../assets/global/img/portlet-remove-icon.png);
    -ms-background-repeat: no-repeat;
    background-repeat: no-repeat;
    width: 11px;
}

.dash-panel-list > li > a > i {
    margin-right: 5px;
}

.aga-dash-panel > .portlet > .portlet-title > .actions > a:last-of-type {
    margin-right: 10px;
}

/* Mostrar atualizador ou não */
.dash-updating {
    text-align: center;
}

    .dash-updating[count="0"] {
        visibility: hidden;
    }

/* Estilos para table.export.js*/

.aga-table-export-group {
    float: right;
}

.aga-table-export-btn {
    opacity: 0.4;
    color: #E1E5EC;
    right: -13px;
    border-color: #ccc !important;
    border: 1px solid;
}

    .aga-table-export-btn:hover, .aga-table-export-btn[aria-expanded="true"] {
        opacity: 1.0;
        color: white;
        background-color: #E1E5EC !important;
    }
