.is-wizard-required:not(.form-group) {
    border: 1px solid red;
}

.form-group.is-wizard-required .form-control {
    border: 1px solid red;
}

.form-wizard-confirmation .form-group {
    margin: 0;
    padding: 0;
}

.form-wizard-confirmation .form-control-static {
    margin: 0;
    padding: 0;
}

.form-wizard-confirmation .control-label {
    margin: 0;
    padding: 0;
}

.form-wizard ul.steps {
    margin-bottom: 0;
    padding: 0;
}

.wizard-progress .progress {
    height: 15px;
}

.wizard-progress .portlet-title {
    margin-bottom: 0;
}
