<script src=@Url.Content("~/Content/js/CorporativoGrid.js")></script>
<script src=@Url.Content("~/Content/js/jquery.table2excel.js")></script>
<link href="@Url.Content("~/Content/css/BennerGrid.css")" rel="stylesheet" />
<input type="hidden" id="dadosJSON" value="@ViewData["DadosJSON"]" />
<table id="tblResultadoExercicio" style="width: 100%;"></table>