/***
Botões do Login
***/


/*** Tela de Login ***/

#LoginButton.active,
#LoginButton:hover {
    color: #ffffff !important;
    background-color: #187DE4 !important;
    border-color: #187DE4 !important;
}

    #LoginButton.active.focus,
    #LoginButton.active:focus,
    #LoginButton.active:hover {
        color: #fff !important;
        background-color: #3699FF !important;
        border-color: #3699FF !important;
    }


/*** Tela de alterar senha ***/

#CancelPushButton {
    background-color: #4b8df8;
}

#ContinuePushButton {
    background-color: #4b8df8;
}


/*** Tela de esqueceu sua senha ***/

#btPasswordRecovery {
    background-color: #4b8df8;
}


/*** Tela de alterar senha após resgastada ***/

#btSendNewPassword {
    background-color: #4b8df8;
}


/** Texto do esqueceu sua senha */

.forget-password a {
    color: #fff;
}


/***
Login page
***/

.login {
    background-color: #000 !important;
}

    .login .background-full {
        background: url("./img/login-background-custom.jpg") no-repeat center center fixed;
        padding: 0px;
        margin: 0px;
        top: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.5;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .login .content {
        background: url(img/bg-white-lock.png) repeat;
        width: 360px;
        margin: 0 auto;
        margin-top: 80px;
        margin-bottom: 0px;
        padding: 30px;
        padding-top: 20px;
        padding-bottom: 15px;
        border-radius: 0.42rem !important;
    }

        .login .content .logo {
            margin: 0 auto 10px;
            margin-top: 20px;
            padding: 20px;
            background-image: url(../../content/img/logo-benner-login.png);
            background-repeat: no-repeat;
        }

        .login .content .form-group-right {
            text-align: right;
        }

        .login .content h3 {
            color: #eee;
        }

        .login .content h4 {
            color: #eee;
            margin-top: 20px;
        }

        .login .content p,
        .login .content label {
            color: #fff;
        }

        .login .content .login-form,
        .login .content .forget-form {
            padding: 0px;
            margin: 0px;
        }

        .login .content .forget-form {
            display: none;
        }

        .login .content .register-form {
            display: none;
        }

        .login .content .form-title {
            font-weight: 300;
            margin-bottom: 25px;
        }

        .login .content .form-actions {
            background-color: transparent;
            clear: both;
            border: 0px;
            padding: 0px 30px 25px 30px;
            margin-left: -30px;
            margin-right: -30px;
        }

            .login .content .form-actions .checkbox {
                margin-left: 0;
                padding-left: 0;
            }

        .login .content .forget-form .form-actions {
            border: 0;
            margin-bottom: 0;
            padding-bottom: 20px;
        }

        .login .content .register-form .form-actions {
            border: 0;
            margin-bottom: 0;
            padding-bottom: 0px;
        }

        .login .content .form-actions .checkbox {
            margin-top: 8px;
            display: inline-block;
        }

        .login .content .form-actions .btn {
            margin-top: 1px;
        }

        .login .content .forget-password {
            margin-top: 25px;
        }

        .login .content .create-account {
            border-top: 1px dotted #eee;
            padding-top: 10px;
            margin-top: 15px;
        }

            .login .content .create-account a {
                display: inline-block;
                margin-top: 5px;
            }


        /* select2 dropdowns */

        .login .content .select2-container i {
            display: inline-block;
            position: relative;
            color: #ccc;
            z-index: 1;
            top: 1px;
            margin: 4px 4px 0px -1px;
            width: 16px;
            height: 16px;
            font-size: 16px;
            text-align: center;
        }

        .login .content .has-error .select2-container i {
            color: #b94a48;
        }

        .login .content .select2-container a span {
            font-size: 13px;
        }

            .login .content .select2-container a span img {
                margin-left: 4px;
            }


    /* footer copyright */

    .login .copyright {
        text-align: center;
        margin: 0 auto;
        padding: 10px;
        color: #eee;
        font-size: 13px;
    }

    .login .tecnologia {
        position: fixed;
        left: 50px;
        bottom: 50px;
    }

        .login .tecnologia > a {
            color: #eee;
            font-size: 13px;
        }

.form-control[disabled],
.form-control[readonly] {
    cursor: inherit;
}

@media (max-width: 480px) {
    /***
  Login page
  ***/
    .login .logo {
        margin-top: 10px;
    }

    .login .content {
        margin-top: 40px;
        padding: 15px;
        width: 280px;
    }

        .login .content h3 {
            font-size: 22px;
        }

    .login .checkbox {
        font-size: 13px;
    }
}

.help-block {
    color: #FFF !important;
}

.btn.grey-cascade:not(.btn-outline) {
    color: #ffffff;
    background-color: #3699FF;
    border-color: #3699FF;
}

    .btn.grey-cascade:not(.btn-outline).active,
    .btn.grey-cascade:not(.btn-outline):active,
    .btn.grey-cascade:not(.btn-outline):hover,
    .open > .btn.grey-cascade:not(.btn-outline).dropdown-toggle {
        color: #ffffff !important;
        background-color: #187DE4 !important;
        border-color: #187DE4 !important;
    }

        .btn.grey-cascade:not(.btn-outline).active.focus,
        .btn.grey-cascade:not(.btn-outline).active:focus,
        .btn.grey-cascade:not(.btn-outline).active:hover,
        .btn.grey-cascade:not(.btn-outline):active.focus,
        .btn.grey-cascade:not(.btn-outline):active:focus,
        .btn.grey-cascade:not(.btn-outline):active:hover,
        .open > .btn.grey-cascade:not(.btn-outline).dropdown-toggle.focus,
        .open > .btn.grey-cascade:not(.btn-outline).dropdown-toggle:focus,
        .open > .btn.grey-cascade:not(.btn-outline).dropdown-toggle:hover {
            color: #fff !important;
            background-color: #3699FF !important;
            border-color: #3699FF !important;
        }


footer > span{
	position: fixed;
	left: 50px;
	bottom: 50px;
	color: white;
	font-size: 34px;
	font-weight: bold;
	border-radius: 50%;
	height: 55px;
	width: 55px;
	background: linear-gradient(to bottom right, #3699FF, #5B84F0);
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	animation: alternate-reverse;
	box-shadow: 10px 7px 10px black;
	animation: float 3s ease-in-out infinite;
}

footer > span::after{
	content: "?";
	transform: translateX(2px);
}

footer > div > a {
	color: #3699FF!important;
}

footer > div > a:hover {
	color: #187DE4!important;
}

#infos_sys{
  display: none;
  font-size: 20px;
  position: fixed;
  flex-direction: column;
  left: 50px;
  bottom: 120px;
  background: url(img/bg-white-lock.png) repeat;
  padding: 20px;
  backdrop-filter: blur(5px);
border-radius: 10px;
}

#infos_sys:hover{
	display: flex!important;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(255, 255, 255, 0.15);
		transform: translatey(-3px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(255, 255, 255, 0);
		transform: translatey(0px);
	}
}