/*td.details-control {
    background: url('../../../../Content/custom/details_open.png') no-repeat left center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../../../Content/custom/details_close.png') no-repeat left center;
}*/

hidden{
    visibility: hidden;
}
.datatable-margin {
    margin-top: 16px;
}

.DTFC_LeftHeadWrapper {
    margin-bottom:-10px;
}

.dt-buttons {
    transform: translateY("-170%");
}


.region-button {
    border: 1px solid lightgray;
    padding-bottom: 5px;
    text-align: center;
    background-color: #333;
    cursor: pointer;
    color: #d2d2d2;
    padding: 10px;
}

.wrapper {
    display: block;
}

.sidebar-start {
    min-width: 0;
    width: 0;
    max-width: 80%;
    padding: 15px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    /* top layer */
    z-index: 9999;
    background: #fff;
    color: #333;
    transition: all 0.3s;
    overflow-y: scroll;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
    /* display .overlay when it has the .active class */
    .overlay.active {
        display: block;
        opacity: 1;
        top: 0;
        left: 0;
    }

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

div.bottom-float {
    position: sticky;
    bottom: 15px;
    z-index: 100;
}

div.top-float {
    position: sticky;
    top: 53px;
    z-index: 100;
}

/*#ContentPanel {
   background: white;
}*/

.developer-adjust .widget {
    padding-top: 15px;
}

.developer-adjust .resize-width-container {
    display: none;
}

.developer-adjust .paginate_button:hover {
    background: none !important;
    border: none !important;
}

.developer-adjust .paginate_button.previous {
    padding: 5px;
}

.developer-adjust .paginate_button.next {
    padding: 5px;
}

.developer-adjust .form-actions.bottom {
    display: none;
}

.icon-toggle {
    font-size: 2em;
    cursor: pointer;
}

.simulacao-icon {
    cursor: pointer;
    padding: 5px;
    min-height: 110px;
}

.simulacao-icon-center {
    text-align: center;
}

span.simulacao-icon-size {
    font-size: 3em;
    padding: 15px 0 15px 0;
}

.select2-container {
    z-index: 10000;
}

ul.select2-selection__rendered li.select2-search {
    width: 100%;
}

    ul.select2-selection__rendered li.select2-search input.select2-search__field {
        width: 100% !important;
    }

.title-icon {
    font-size: 1em;
    padding-right: 5px;
}

#sidebar .developer-toolbar {
    top: -10px;
}

.container_datatable {
    padding: 10px;
}

div.DTFC_LeftBodyLiner {
    overflow: hidden !important;
    width: 100% !important;
}

div.DTFC_LeftBodyWrapper {
    width: 100% !important;
    overflow: unset !important;
}

table.dataTable thead th {
    border-bottom: 0px solid rgb(221, 221, 221) !important;
}

/*.DTFC_LeftWrapper:before {*/
.fx-fixed-element-helper:before {
    content: "a";
    width: 100%;
    line-height: 39px;
    height: 40px;
    background: #fdfdfd;
    color: #FFF;
    text-align: center;
    display: inline-block;
}

#custom-header tr {
    height: 39px !important;
}


#custom-header th.details-control{
    border-right: 1px solid rgb(221, 221, 221) !important;
}

#custom-header th, .dataTable thead th.sorting_disabled:nth-child(1)  {
    padding: 0;
}

.td-fx-previsto::before{
    content: ' ';
}

.dataTable thead th.sorting_disabled:nth-child(2) {
    border-left: none !important;
  }


.DTFC_LeftBodyLiner {
  border-right: 1px solid rgb(221, 221, 221);
}

[v-cloak] {
    display: none;
}

label.lbl-previsto {
    margin-bottom: 0px;
    font-weight: bold;
}

.td-fx-previsto {
    border-left: 1px solid rgb(221, 221, 221);
}



#app-fluxo table {
    position: relative;
    width: 1200px;
    background-color: #fdfdfd;
    overflow: hidden;
    border-collapse: unset;
}

    #app-fluxo table td, #app-fluxo table th {
        border: 0;
    }

    #app-fluxo table td {
        border-top: 1px solid #e7ecf1;
    }


/*thead*/
#app-fluxo thead {
    position: relative;
    display: block; /*seperates the header from the body allowing it to be positioned*/
    width: 1200px;
    overflow: visible;
}

    #app-fluxo thead th {
        background-color: #fdfdfd;
        min-width: 200px;
        height: 32px;
        text-align: center;
        border-right: 1px solid #e7ecf1;
        border-bottom: 1px solid #e7ecf1;
    }

        #app-fluxo thead th:nth-child(1) { /*first cell in the header*/
            position: relative;
            display: block; /*seperates the first cell in the header from the header*/
            background-color: #fdfdfd;
            min-width: 250px;
            text-align: left;
            font-weight: bold;
        }


/*tbody*/
#app-fluxo tbody {
    position: relative;
    display: block; /*seperates the tbody from the header*/
    width: 1200px;
    height: 600px;
    overflow: scroll;
    text-align: right;
}

    #app-fluxo tbody td {
        background-color: #fdfdfd;
        min-width: 200px;
        padding-right: 3px;
        border-right: 1px solid #e7ecf1;
    }

    #app-fluxo tbody tr td:nth-child(1) {
        position: relative;
        display: block;
        height: 40px;
        background-color: #fdfdfd;
        min-width: 250px;
        text-align: left;
    }


[v-cloak] {
    display: none;
}

.row-fx-sintetico {
    font-weight: bold;
}

.td-fx-possui-detalhe:hover {
    background-color: #cacaca;
    cursor: pointer;
    text-decoration: underline;
}

.fx-botoes-exportacao {
    text-align: right;
}

#fx-fluxo-container {
    margin-top: 10px;
}

.fx-cell-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
}

#app-fluxo .conteudo-cor {
    width: 25px;
    height: 20px;
    float: left;
    margin-right: 10px;
    border-radius: 3px !important;
}

.td-fx-primeiro-fluxo {
    background-color: #d5dfe4 !important;
}

.td-fx-segundo-fluxo {
    background-color: #d2d2d2 !important;
}

label.lbl-previsto {
    margin-bottom: 0px;
    font-weight: bold;
}

.td-fx-previsto {
    border-left: 1px solid rgb(221, 221, 221);
}