table {
    border-collapse: separate!important;
}
.right{
    text-align: right;
    min-width: 100px!important
}
.center {
    text-align: center;
}
.black {
color: black!important;
}
.red-intense{color: #E26A6A!important;}

.center{
    text-align: center;
}

.operador th {
    color: #3598DC;
    padding-left: 0;
}

.agrupador td {
    padding-left: 0.25%!important;
    cursor: pointer!important;
    font-weight: normal!important;
}
th[_field]
{
    font-weight: bold!important;
}
.op td
{
    color: #3598DC!important;
    padding-left: 0.15%!important;
    cursor: pointer!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
}
td{
    padding: 4px!important;
    padding-left: 0.35%!important;
    border-bottom :0!important;
    font-weight: normal!important;
    color: #94A0B2!important;
}

td, th {
    font-size: 12px!important;
}

th.titulo, caption{
    border-bottom: 2px solid #4B77BE !important;
    border-width: 2px!important;
    color: #3598DC!important;
    padding: 0.5%!important;
    font-weight: bold!important;
    text-align: center!important;
}

