.page-header.navbar .page-logo .logo, .content > .logo {
    width: 195px;
    height: 50px;
    background-position-y: bottom;
}

.grid-retencoes {
    padding: 0;
    border-bottom: 0;
    margin-bottom: 0;
    max-width: 99%;
}

    .grid-retencoes .form-group {
        margin-bottom: 0;
    }

        .grid-retencoes .form-group .valueAliquota {
            padding-bottom: 35px;
        }

        .grid-retencoes .form-group .valueValor {
            padding-bottom: 17px;
        }

    .grid-retencoes .label-title {
        font-size: 10px;
    }

    .grid-retencoes .value.valueSecundario {
        font-size: 12px;
    }

    .grid-retencoes .value {
        font-size: 14px;
    }
    