
    .label-tesouraria-empty {
        text-align: left;
        font-weight: 550;
        background-color: transparent;
        color: black;
    }
    .icon-tesouraria-situation {
        padding-left: 0px;
        font-weight: 550;
        padding-right: 0px;
        text-align: right;
    }
    
    .label-tesouraria-footer {
        padding-left: 0px;
        padding-right: 0px;
        font-weight: 550;
        text-align: right;
        margin: 0px;            
    }
    .label-tesouraria-situation {
        padding-left: 0px;
        padding-right: 0px;
        font-weight: 550;
        text-align: left;
        margin: 0px;
    }
    
    .label-tesouraria-value {
        padding-left: 0px;
        font-weight: 550;
        padding-right: 0px;
        text-align: right;
        margin: 0px;
    }
    