@{
    var aliquota = Model.Fields["ALIQUOTA"];
}
<div class="row static-info grid-retencoes">
    <div class="col-lg-12">
        <div class="form-group">
            <span class=" value valueAliquota">@aliquota.ToString("#0.00")</span>
        </div>
    </div>
</div>